<button type="button" title="{{ title }}" class="{{ class|default('') }} action-btn text-white bg-{{ color }}-600 hover:bg-{{ color }}-700"{% if popover is defined %} data-popover-target="{{ popover }}"{% endif %}>
    <span class="material-symbols-outlined action-btn--icon">{{ icon }}</span>
    <span class="sr-only">{{ title }}</span>
</button>

{# bg-blue-600 hover:bg-blue-700
bg-red-600 hover:bg-red-700 #}