<div class="overflow-x-auto relative">
    <table class="w-full text-sm text-left dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase dark:bg-gray-700 dark:text-gray-400 border-b border-bl">
                <tr>
                {% for k, v in rows[0]|filter((v,k) => k != 'password') %}
                    <th scope="col" class="py-3 px-6">
                        {{ k }}
                    </th>
                    {% if loop.index0 == 0 %}
                    <th scope="col" class="py-3 w-14">
                        Actions
                    </th>
                    {% endif %}
                {% endfor %}
                </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr class="bg-white dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600">
                    {% for key, data in row|filter((data,key) => key != 'password') %}
                        <td scope="row" class="py-4 px-6 relative">
                        {% if data is iterable %}
                        {% set uniqid = random() %}
                            {{ include('@VVSAdmin/components/table/action_btn.html.twig', {color: 'blue', icon: 'visibility', title: 'See all', popover: 'popover-' ~ uniqid}) }}
                            <div data-popover="popover-{{ uniqid }}" data-popover-visibility="invisible" role="tooltip" class="popover invisible opacity-0">
                                <div class="popover-overlay h-full w-full absolute"></div>
                                <div class="py-2 px-3 bg-gray-100 rounded-t-lg border-b border-gray-200 dark:border-gray-600 dark:bg-gray-700">
                                    <h3 class="font-semibold text-gray-900 dark:text-white">User's {{ key }}</h3>
                                </div>
                                <div class="py-2 px-3">
                                    <ul class="list-disc pl-4">
                                        {% for index, level1 in data %}
                                            {% if level1 is iterable %}
                                                {% if 'title' in level1|keys %}
                                                    <li>{{ level1.title }}</li>
                                                {% elseif 'name' in level1|keys %}
                                                    <li>{{ level1.name }}</li>
                                                {% elseif 'id' in level1|keys %}
                                                    <li>{{ level1.id }}</li>
                                                {% endif %}
                                            {% else %}
                                            <li>{{ level1 }}</li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div data-popper-arrow="" style="position: absolute; left: 0px; transform: translate(0px, 0px);"></div>
                            </div>
                        {% else %}
                            {{ data }}
                        {% endif %}
                        </td>
                        {% if loop.index0 == 0 %}
                        <td class="flex gap-1 py-4 pr-3" data-row="{{ row.id }}">
                            {{ include('@VVSAdmin/components/table/action_btn.html.twig', {color: 'blue', icon: 'key', title: 'Change password', class: "edit-password"}) }}
                            {{ include('@VVSAdmin/components/table/action_btn.html.twig', {color: 'blue', icon: 'badge', title: 'Edit roles'}) }}
                            {{ include('@VVSAdmin/components/table/action_btn.html.twig', {color: 'red', icon: 'delete', title: 'Delete user'}) }}
                        </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div id="table-modal" class="modal">
    <div class="modal-content">
        <span id="table-modal-close"class="close">&times;</span>
        <div class="modal-body"></div>
    </div>
</div>