@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

:root {
    --vvs-white: #fff;
    --vvs-white-shadowed: #fafafa
}

body {
    background: var(--vvs-white);
    font-family: 'Exo 2', sans-serif;
    @apply text-gray-800
}

.navbar-item {
    @apply px-3 py-2 flex items-center h-full text-gray-500 hover:bg-blue-600 hover:text-white;
    &.active {
        @apply border-b-2 border-blue-600 text-gray-800 hover:bg-white
    }
}

.mobile-menu {
    .menu-item {
        @apply text-gray-300 hover:bg-blue-600 hover:text-white block px-3 py-2 rounded-md text-base font-medium;
        &.active {
            @apply border-b-2 border-blue-600 hover:bg-white rounded-none text-gray-800;
        }
    }
}

.action-btn {
    @apply font-medium rounded-lg text-sm p-1 text-center inline-flex items-center;
    .action-btn--icon {
        @apply w-4 h-4;
        font-size: 1rem;
    }
}

.btn {
    @apply border rounded-md py-2 px-4;
    &.btn-primary {
        @apply bg-blue-600 hover:bg-blue-700 text-white;
    }
}

.popover {
    top: 100%;
    right: 0;
    @apply  inline-block absolute z-10 w-80 max-h-96 overflow-scroll text-sm font-light text-gray-500 bg-white rounded-lg border border-gray-200 shadow-sm transition-opacity duration-300 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#mobile-menu {
    overflow-y: hidden;
    &:not(.hidden-slide) {
        animation: scrollDown .5s ease-in-out;
    }
    &.hidden-slide {
        animation: scrollUp .5s ease-in-out;
    }
}

@keyframes scrollDown {
    from {height: 0;}
    to {height: 106px;}
}

@keyframes scrollUp{
    from {height: 106px;}
    to {height: 0;}
}